# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# IDE files
.vscode/
.idea/
*.iml

# MacOS
.DS_Store

# Build directories
target/
build/
out/

# Logs
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
